<%= form_with(model: notice, local: true) do |form| %>
  <% if notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">전시여부</th>
        <td>
          <%= form.check_box :isshown %> 전시
        </td>
      </tr>
      <tr>
        <th scope="row">등록 날짜</th>
        <td><%= notice.created_at %></td>
      </tr>
      <tr>
        <th scope="row">제목</th>
        <td><%= form.text_field :title, class: "form-control" %></td>
      </tr>
      <tr>
        <th scope="row">내용</th>
        <td>
          <%= tinymce :language => "ko" %>
          <%= form.text_area :body, id: :post_content, class: "form-control tinymce", rows: "15" %>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="actions">
    <%= form.submit class: "btn btn-primary pull-right" %>
  </div>
  
<% end %>
