<%= form_with(model: termsofservice, local: true) do |form| %>
  <% if termsofservice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(termsofservice.errors.count, "error") %> prohibited this termsofservice from being saved:</h2>

      <ul>
      <% termsofservice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">전시여부</th>
        <td>
          <%= form.check_box :isshown %> 전시
        </td>
      </tr>
      <tr>
        <th scope="row">등록 날짜</th>
        <td><%= termsofservice.created_at %></td>
      </tr>
      <tr>
        <th scope="row">카테고리</th>
        <td>
          <%= form.select :category, Termsofservice.categories.keys, {}, { class: 'form-control' } %>
        </td>
      </tr>
      <tr>
        <th scope="row">제목</th>
        <td><%= form.text_field :title, class: "form-control" %></td>
      </tr>
      <tr>
        <th scope="row">내용</th>
        <td>
          <%= tinymce :language => "en" %>
          <%= form.text_area :body, id: :post_content, class: "form-control tinymce", rows: "15" %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit class: "btn btn-primary pull-right" %>
  </div>
<% end %>
