<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row">전시 여부</th>
      <td>
        <%= check_box "termsofservice", "isshown", {:checked => @termsofservice.isshown, :disabled => true} %>
      </td>
    </tr>
    <tr>
      <th scope="row">등록날짜</th>
      <td><%= @termsofservice.created_at.strftime('%Y-%m-%d %H:%M') %></td>
    </tr>
    <tr>
      <th scope="row">카테고리</th>
      <td>
        <%= Termsofservice.human_enum_name(:category, @termsofservice.category) %>
      </td>
    </tr>
    <tr>
      <th scope="row">제목</th>
      <td><%= @termsofservice.title %></td>
    </tr>
    <tr>
      <th scope="row">내용</th>
      <td><%= @termsofservice.body.html_safe %></td>
    </tr>
  </tbody>
</table>

<%= link_to '수정', edit_termsofservice_path(@termsofservice), class: "btn btn-success" %> |
<%= link_to '목록', termsofservices_path, class: "btn btn-info" %>
<br><br>