<%= form_with(model: business_question, local: true) do |form| %>
  <% if business_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business_question.errors.count, "error") %> prohibited this business_question from being saved:</h2>

      <ul>
      <% business_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-bordered">
  <tbody>
    <% if business_question.user != nil %>
    <tr>
      <th scope="row">작성자</th>
      <td><%= business_question.user.name %></td>
    </tr>
    <tr>
      <th scope="row">작성 날짜</th>
      <td><%= business_question.created_at %></td>
    </tr>
    <% end %>
    <tr>
      <th scope="row">회사명</th>
      <td><%= form.text_field :company, class: "form-control"%></td>
    </tr>
    <tr>
      <th scope="row">이메일 주소</th>
      <td><%= form.text_field :email, class: "form-control" %></td>
    </tr>
    <tr>
      <th scope="row">핸드폰 번호</th>
      <td><%= form.text_field :phone, class: "form-control" %></td>
    </tr>
    <tr>
      <th scope="row">문의 제목</th>
      <td><%= form.text_field :title, class: "form-control" %></td>
    </tr>
    <tr>
      <th scope="row">문의 내용</th>
      <td><%= form.text_area :body, class: "form-control", rows: "10" %></td>
    </tr>
  </tbody>
</table>

<div class="actions">
  <%= form.submit "제출하기", class: "btn btn-primary pull-right" %>
</div>
<% end %>
