<p id="notice"><%= notice %></p>

<h1>Business Questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Company</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_questions.each do |business_question| %>
      <tr>
        <td><%= business_question.title %></td>
        <td><%= business_question.body %></td>
        <td><%= business_question.phone %></td>
        <td><%= business_question.email %></td>
        <td><%= business_question.company %></td>
        <td><%= business_question.user.name %></td>
        <td><%= link_to 'Show', business_question %></td>
        <td><%= link_to 'Edit', edit_business_question_path(business_question) %></td>
        <td><%= link_to 'Destroy', business_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business Question', new_business_question_path %>
