<%= form_with(model: private_question, local: true) do |form| %>
  <% if private_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(private_question.errors.count, "error") %> prohibited this private_question from being saved:</h2>

      <ul>
      <% private_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :question_type, class: "col-form-label" %>
    <%= form.select :question_type, PrivateQuestion.question_types.keys, {}, { class: 'form-control' } %>
  </div>

  <div class="field form-group">
    <%= form.label :title, class: "col-form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :body, class: "col-form-label" %>
    <%= form.text_area :body, class: "form-control", rows: "10" %>
  </div>

  <div class="form-group form-inline">
    <%= form.label :asktime, class: "col-form-label" %>
    <%= form.datetime_select :asktime,  { ampm: true, order: [:year, :month, :day] }, { class: "form-control" } %>
  </div>
  
  <div class="form-group form-inline">
    <%= form.label :reply_time, class: "col-form-label" %>
    <%= form.datetime_select :reply_time,  { ampm: true, order: [:year, :month, :day] }, { class: "form-control" } %>
  </div>
  
  <div class="field form-group">
    <%= form.label :reply_title, class: "col-form-label" %>
    <%= form.text_field :reply_title, class: "form-control" %>
  </div>
  
  <div class="field form-group">
    <%= form.label :reply_body, class: "col-form-label" %>
    <%= tinymce :language => "ko" %>
    <%= form.text_area :reply_body, id: :post_content, class: "form-control tinymce", rows: "10" %>
  </div>
  
  <div class="field form-group">
    <%= form.label :reply_sms, class: "col-form-label" %>
    <%= form.text_field :reply_sms, class: "form-control" %>
  </div>
  
  <div class="field form-group">
    <%= form.label :reply_email, class: "col-form-label" %>
    <%= form.text_field :reply_email, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
