<%= form_with(model: private_question, local: true) do |form| %>
  <% if private_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(private_question.errors.count, "error") %> prohibited this private_question from being saved:</h2>

      <ul>
      <% private_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered">
    <tbody>
      <% if private_question.user != nil %>
      <tr>
        <th scope="row">작성자</th>
        <td><%= private_question.user.name %></td>
      </tr>
      <tr>
        <th scope="row">작성 날짜</th>
        <td><%= private_question.created_at %></td>
      </tr>
      <% end %>
      <tr>
        <th scope="row">질문 유형</th>
        <td><%= form.select :question_type, PrivateQuestion.question_types.keys, {}, { class: 'form-control' } %></td>
      </tr>
      <tr>
        <th scope="row">질문 제목</th>
        <td><%= form.text_field :title, class: "form-control" %></td>
      </tr>
      <tr>
        <th scope="row">질문 내용</th>
        <td><%= form.text_area :body, class: "form-control", rows: "10" %></td>
      </tr>
      <tr>
        <th scope="row">답변 날짜</th>
        <td>
          <div class="form-inline">
            <%= form.datetime_select :reply_time,  { ampm: true, order: [:year, :month, :day] }, { class: "form-control" } %>  
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">답변 제목</th>
        <td><%= form.text_field :reply_title, class: "form-control" %></td>
      </tr>
      <tr>
        <th scope="row">답변 내용</th>
        <td>
          <%= tinymce :language => "en" %>
          <%= form.text_area :reply_body, id: :post_content, class: "form-control tinymce", rows: "15" %>
        </td>
      </tr>
      <tr>
        <th scope="row">문자 전송</th>
        <td><%= form.text_field :reply_sms, class: "form-control" %></td>
      </tr>
      <tr>
        <th scope="row">이메일 전송</th>
        <td><%= form.text_field :reply_email, class: "form-control" %></td>
      </tr>
    </tbody>
  </table>
  
  <div class="actions">
    <%= form.submit class: "btn btn-primary pull-right" %>
  </div>
<% end %>
