<p id="notice"><%= notice %></p>
<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-heading">
        1:1 문의게시판
        </div>
        <div class="panel-body">
            <a href="">자유게시판</a><br />
            <a href="">포럼</a><br />
            <a href="">News</a><br />
        </div>
    </div>
</div>

<div class="col-sm-10">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>질문 유형</th>
        <th>제목</th>
        <th>문의일</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @private_questions.each do |private_question| %>
        <tr>
          <td><%= private_question.question_type %></td>
          <td>
            <%= link_to "#{private_question.title}", private_question %>
          </td>
          <td><%= private_question.asktime %></td>
          <td><%= link_to 'Edit', edit_private_question_path(private_question) %></td>
          <td><%= link_to 'Destroy', private_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
    
  </table>
  
  <!--Pagination Number At here-->
  <nav class="text-center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </nav>
  
  <%= link_to '1:1 문의하기', new_private_question_path, class: "btn btn-default pull-right" %>
  
</div>