<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading">
        게시판 관리
        </div>
        <div class="panel-body">
          <div class="list_group">
            <a href="<%= business_questions_path %>" class="list-group-item">Business 게시판</a>
            <a href="<%= private_questions_path %>" class="list-group-item">1:1 문의 게시판</a>
            <a href="<%= frequent_questions_path %>" class="list-group-item">FAQ 게시판</a>
            <a href="<%= notices_path %>" class="list-group-item">공지사항</a>
            <a href="<%= termsofservices_path %>" class="list-group-item">약관</a>
          </div>
        </div>
      </div>
  </div>
  
  <div class="col-sm-9">
    <%= form_tag private_questions_path, :method => "get" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], placeholder: "작성자/제목/내용 검색", class: "form-control" %>
        <div class="input-group-btn">
          <%= submit_tag "검색", :class => 'btn btn-default' %>
        </div>
      </div>
      <br>
      <div class="input-group date form-inline">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
        <%= text_field_tag :date_from, params[:date_from], placeholder: "시작 날짜", size: 9, data: {provide: 'datepicker'}, class: 'form-control' %>
      
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
        <%= text_field_tag :date_to, params[:date_to], placeholder: "끝 날짜", size: 9, data: {provide: 'datepicker'}, class: 'form-control' %>
      </div>
    <% end %>
  </div>

</div>
  
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>작성자</th>
      <th>질문 유형</th>
      <th>제목</th>
      <th>문의 날짜</th>
      <th>답변 상태</th>
      <th colspan="2">관리</th>
    </tr>
  </thead>

  <tbody>
    <% @private_questions.each do |private_question| %>
      <tr>
        <td><%= private_question.user.name %></td>
        <td><%= private_question.question_type %></td>
        <td>
          <%= link_to "#{private_question.title}", private_question %>
        </td>
        <td><%= private_question.created_at %></td>
        <td>
          <% if private_question.reply_body.empty? %>
            <span>답변대기</span>
            <%= link_to '답변등록', edit_private_question_path(private_question), :class => "btn btn-success pull-right" %>
          <% else %>
            <span>답변완료</span>
            <%= link_to '답변수정', edit_private_question_path(private_question), :class => "btn btn-info pull-right" %>
          <% end %>
        </td>
        <td><%= link_to '수정', edit_private_question_path(private_question) %></td>
        <td><%= link_to '삭제', private_question, method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>

<!--Pagination Number At here-->
<nav class="text-center">
  <%== pagy_bootstrap_nav_js(@pagy) %>
  <script> Pagy.init() </script>
</nav>

<%= link_to '1:1 문의하기', new_private_question_path, class: "btn btn-default pull-right" %>

</div>